<p id="notice"><%= notice %></p>

<h1>Pages </h1>
<!-- Create a navigation bar using URL helpers for Adding a car -->
<!-- Create a navigation bar using URL helpers for Adding a make -->
<!-- Create a navigation bar using URL helpers for Adding a part -->
<%= link_to "Add Car" , cars_url %>
<%= link_to "Add Make" , makes_url %>
<%= link_to "Add Part" , parts_url %>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%if current_user %>
  <h3><%= link_to "Sing out",  destroy_user_session_path ,method: :delete %></h3>
    <% else %>
  <h3> <%= link_to "Sing up",new_user_session_path %>
    <%= link_to "Sing in" , user_session_path %></h3>
    <%end %>


    <!-- Create a navigation bar using URL helpers for Adding a car -->
    <!-- Create a navigation bar using URL helpers for Adding a make -->
    <!-- Create a navigation bar using URL helpers for Adding a part -->




  </tbody>
</table>

<br>


